*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  height: 100vh;
  font-size: 18px;
  display: flex;
  flex-direction: column;
}

/* Have to be more specific here it cant be every link 

a:visited {
  color: white;
  text-decoration: none;
}

*/

/* Navbar Start */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.logout-button {
  background-color: #dc3545;
  color: #ffffff; /* White text */
  padding: 10px 20px; /* Padding around the text */
  margin-left: 20px;
  border: none;
  border-radius: 5px; /* Rounded corners */
  cursor: pointer;
  font-size: 1em; /* Text size */
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #c82333; /* Darker red when hovered */
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

.profilePictureNavbar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

/* Navbar End  */


/* Navbar Tooltip Start */

.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip-container .tooltip {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: 100%; /* Position the tooltip directly below the link */
  left: 50%;
  transform: translateX(-50%); /* Center the tooltip */
  width: 50px; /* Increase the width of the tooltip */
  font-size: 12px; /* Increase the font size */
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-container:hover .tooltip {
  visibility: visible;
  opacity: 1;
}
/* Navbar Tooltip End */

/* Footer Start */

.github {
  transition: transform 0.5s; /* Adjust time as needed */
  margin-right: -15px;
}

.github:hover {
  transform: rotate(360deg);
}

.react {
  fill: #61dafb;
}

.node {
  fill: #f0db4f;
}

.mongo {
  margin-left: -13px;
}

.footer {
  flex-shrink: 0;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d4d4d;
  margin-top: auto;
  gap: 20px;
  font-size: 1rem;
}

/* Footer End */

/* Index Page Start */
.landing {
  height: calc(100vh - 10vh);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  flex-grow: 1;
}

.text-section {
  text-align: center;
  margin-bottom: 50px;
}

.title {
  font-size: 2.5em;
  margin-bottom: 10px;
  color: turquoise;
}

.subtitle {
  font-size: 1.2em;
}

.link-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-link {
  background-color: #007bff;
}

.login-link {
  background-color: #28a745;
}

.guest-link {
  background-color: #565656;
}

.link-section a,
.link-section button {
  display: inline-block;
  margin: 10px 0;
  padding: 10px 20px;
  color: white;
  /* background-color: #34495e; */
  border: none;
  border-radius: 0.5rem;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.link-section a:hover,
.link-section button:hover {
  background-color: #2c3e50;
}

.title span {
  opacity: 0;
  animation: typing 2s forwards;
}

@keyframes typing {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Index Page End */

/* Sign up Start */

.signup-container {
  height: calc(100vh - 10vh);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.signup-title {
  text-align: center;
  margin-bottom: 10px;
  font-size: 2em;
}

.signup-login-link {
  text-align: center;
  margin-bottom: 30px;
  font-size: 1em;
}

.signup-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: lavender;
  color: black;
}

.signup-form label {
  margin-bottom: 10px;
  font-size: 1.2em;
}

.signup-form input {
  margin-bottom: 30px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 15px;
  font-size: 1.2em;
}

.signup-form button {
  padding: 15px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 1.2em;
}

/* Sign up End */

/* Login Page Start */

.login-container {
  height: calc(100vh - 10vh);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Do i need this? Mess around with it */
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.login-title {
  text-align: center;
  margin-bottom: 10px;
  font-size: 2em;
}

.login-signup-link {
  text-align: center;
  margin-bottom: 30px;
  font-size: 1em;
}

.login-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  border-radius: 20px;
  background-color: lavender;
  color: black;
  width: 340px;
  height: 340px;
}

.login-form label {
  margin-bottom: 5px;
}

.login-form input {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  width: 100%;
  box-sizing: border-box;
}

.guest-link {
  cursor: pointer;
}

.login-form button {
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  width: 100%;
}

/* Login Page End  */


/* All Posts Start */

.all-posts {
  min-height: calc(100vh - 10vh);
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Do i need this? Mess around with it */
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.posts-list {
  width: 100%;
  max-width: 700px;
  border: 5px solid black;
  padding: 20px;
}

.load-more-posts {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
}

/* All Posts End  */


/* Home Page Start */

.home {
  min-height: calc(100vh - 10vh);
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Do i need this? Mess around with it */
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.home-header {
  display: flex;
  flex-direction: row;
  width:40.5%;
  align-items: center; /* Center the items vertically */
  padding: 10px 0;
}

.createPostButton:hover {
  background-color: #d3d3d3; /* Darker grey when hovered */
}

.profilePictureHome {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

/* Post Details shit */ 

.profilePicture-comment{
  width: 40px;
  height: 40px;
  border-radius: 50%;

}

.comment-author{
  margin-left: 9px;
}

.comment-text{
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-all;
}

/* Post Details shit */ 

.createPostButton {
  display: inline-block;
  text-align: left;
  width: calc(100% - 60px);
  padding: 10px 15px; /* Padding around the text */
  border: 1px solid #ccc; /* Border like an input field */
  border-radius: 20px; /* Rounded corners */
  background-color: #f8f8f8; /* Light grey background */
  color: #333; /* Dark grey text */
  cursor: pointer;
  font-size: 1em; /* Text size */
}

.all-posts-button,
.all-users-button,
.update-profile-picture-button,
.load-more-posts-button {
  background-color: #007bff; /* Blue background */
  color: #ffffff; /* White text */
  padding: 10px 20px; /* Padding around the text */
  margin: 10px; /* Space around the button */
  border: none;
  border-radius: 5px; /* Rounded corners */
  cursor: pointer;
  font-size: 1em; /* Text size */
  transition: background-color 0.3s ease; /* Transition for hover effect */
}

.all-posts-button:hover,
.all-users-button:hover,
.update-profile-picture-button:hover {
  background-color: #0056b3; /* Darker blue when hovered */
}

.home-content {
  width: 100%;
  max-width: 700px;
  border: 5px solid black;
  padding: 20px;
  /*
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  */
}

.create-post-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 500px;
  width: 100%;
  border: none;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  z-index: 1000;
}

.dialog-content {
  display: flex;
  flex-direction: column;
}

.close-button {
  align-self: flex-end;
  background: none;
  border: none;
  font-size: 1.3rem;
  cursor: pointer;
  color: #333; /* Dark grey color */
}

.post-textarea {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  resize: none;
}

.form-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.file-input {
  width: 70%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 16px;
  color: #333;
  cursor: pointer;
  font-size: 0.8em;
  transition: background-color 0.3s ease;
}

.file-input:hover {
  filter: brightness(90%);
}

.upload-photo {
  margin-bottom: -10px;
}

.post-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  font-size: 1em;
}

.post-button:hover {
  filter: brightness(90%);
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999; /* Ensure the backdrop is below the modal */
}

/* Home Page End  */

/* Post Details Start */

.post {
  border: 3px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 20px;
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  text-decoration: none;
}
.post-header a {
  text-decoration: none;
}

.profilePicturePost {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover; /* The object-fit: cover; line will make the image cover the entire width and height of its container while maintaining its aspect ratio. */
  margin-right: 10px;
}

.post-username {
  font-size: 1rem;
  position: relative;
  top: -10px; /* Adjust this value as needed */
}

.post-body {
  margin-bottom: 20px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-all;
}

.postImage {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  object-fit: cover;
}

.post-footer {
  border-top: 1px solid #ccc;
  padding-top: 20px;
}

.comment {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
  border: 1px solid #ccc;

  border-radius: 5px;
  padding: 10px;
}
.comment a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.comment p {
  margin-top: 10px;
  margin-left: 50px;
}

.likes-comments {
  display: flex;
  align-items: center;
}

.likes-comments button {
  margin-left: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #f0f0f0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.likes-comments .liked {
  color: blue;
  background-color: #d0d0ff;
}

.post-stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.post-stats p {
  margin-right: 20px;
}

.post-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px 0;
}

.likes,
.comments {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.likes button,
.comments button {
  margin-left: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #f0f0f0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.likes button:hover,
.comments button:hover {
  background-color: #e0e0f0;
}

.likes .liked {
  color: blue;
  background-color: #d0d0ff;
}

.comment-form {
  margin-top: 20px;
}

.comment-form input {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Post Details End  */

/* Users Page Start */

.users {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  padding: 20px;
  flex: 1 0 auto;
}

.users-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;
}

.users-text{
  margin-bottom: 20px;
}

.user-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 4px;
}

.users-link{
  text-decoration: none;
  display:flex;
}

.users-follow{
  background-color: #007bff; /* Blue background */
  color: #ffffff; /* White text */
  padding: 10px 20px; /* Padding around the text */
  margin: 10px; /* Space around the button */
  border: none;
  border-radius: 5px; /* Rounded corners */
  cursor: pointer;
  font-size: 0.75em; /* Text size */
  transition: background-color 0.3s ease; /* Transition for hover effect */
}

.users-follow:disabled {
  background-color: darkgray;
  color: white;
}

.profilePictureUsers {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

/* Users Page End  */

/* Profile Page Start */

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.profile-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
}

.profilePictureProfile {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-content {
  width: 100%;
  max-width: 600px;
}

/* Profile Page End  */


.loader {
  border: 0.5rem solid #f3f3f3;
  border-radius: 50%;
  border-top: 0.5rem solid #333;
  width: 2rem;
  height: 2rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
